@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

.information {
	color: #f1eaff;
	text-shadow: 2px 2px 2px #d0a2f7;
	font-size: 20px;
	font-family: 'Comfortaa', sans-serif;
}
