{
  "trailingComma": "all",
  "printWidth": 85,
  "useTabs": true,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "singleAttributePerLine": false,
  "quoteProps": "preserve"
}
